body {
  background-color: #1e1b18;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#container {
  display: flex;
  justify-content: center;
}

#gameBoard {
  position: absolute;

  background-color: rgb(20, 20, 20);
}

#greenSquare {
  position: absolute;
  background-color: green;
  cursor: pointer;
}
